body {
  margin: 0;
  font-family: 'Roboto', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.col-9.inside {
  border: 1px solid #007bff;
}
span.setWidth {
  white-space: initial;
  margin-left: 87px;
}
.schemeChild {
  font-size: 17px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
